<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h1>Home</h1>
<h1>Post Listing</h1>

<div class="container">
    <div class="single__post">
        <div class="post__img">
            <img src="/images/post-img.jpg" alt="">
        </div>
        <div class="post__desc">
            <h1>Some Name</h1>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>