<%- include('../partials/header') %>
<%- include('../partials/navbar') %>



<div class="container">
    <h1 style="color: white;">Post Listing</h1>
    <div class="single__post">
        <div class="post__img">
            <img src="/images/post-img.jpg" alt="">
        </div>
        <div class="post__desc">
            <h1>Some Name</h1>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>